body 
{
  text-align: center;
}
h1 
{
  color: red;
}

p 
{
  color: green;
  margin: 2em 10em 2em;
  text-align: justify; 
  text-justify: inter-word; 
}

img 
{
  border: 2px solid black;
  width: 300px;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li 
{
  float: left;
}

ul li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover 
{
  background-color: #111111;
}

table 
{
  border-collapse: collapse;
  border: 1px solid;

}
th
{
  background-color: gray;
}

th, tr
{
  text-align: center;
}

table, th, td 
{
  border: 1px solid;
}

th, tr, td {
  padding: 10px;
}

.center 
{
  margin-left: auto;
  margin-right: auto;
}

.div
{
  border: 2px solid black; 
}

.div p 
{
  color: black; 
}
